---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador de micro aplicaciones",
    company: "Digital Ware S.A.S",
    description:
      "lideré el diseño, desarrollo y despliegue de microaplicaciones utilizando Angular y .NET. Implementé APIs tipo REST para facilitar la comunicación entre los componentes del sistema. Participé activamente en reuniones diarias de Scrum, asegurando el cumplimiento de los objetivos del sprint, y colaboré estrechamente con equipos multidisciplinarios para ofrecer soluciones eficientes.",
  },
  {
    date: "Septiembre 2023",
    title: "Desarrollador BackEnd",
    company: "Makaia",
    description:
      "Lideré la creación de una plataforma para optimizar la validación de dispositivos, con un enfoque en teléfonos celulares. Utilicé tecnologías como Java y Spring Framework para construir un backend escalable y modularizado con microservicios. Implementé la automatización del proceso de validación mediante integración automática de datos, validación automática. También fortalecí la seguridad con JWT. Trabajé en equipo para mantener altos estándares de calidad y asegurar un código limpio y mantenible.",
  },
]
---

<ol class="relative mt-[-80px]">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>